<div class="container">
  <div class="row centered-form mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="panel-title">
            <h3>Product Description Entry</h3>
            <p>Please enter product description.</p>
          </div>
        </div>

        <div class="panel-body">
          <form [formGroup]="formProductDescriptionModel" #ProductDescriptionEntryForm="ngForm" autocomplete="off" class="form-horizontal" (ngSubmit)="this[EventValue]()">
            <div class="form-group">
              <input type="hidden" formControlName="ProductDescId">
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label style="width: 100%;">Product Category: </label>
                  <select formControlName="ProductCategory" [(ngModel)]="SelProductCatgId" id="ProductCategory" class="form-control" (change)="FillProductNameDDL($event)">
                    <option value="" selected>Select Category</option>
                    <option [ngValue]="pc.productCategroyId" *ngFor="let pc of _service.product_category_list">
                      {{pc.categoryName}}
                    </option>
                  </select>
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('ProductCategory').touched && formProductDescriptionModel.get('ProductCategory').errors?.required">This field is mandatory.</label>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label style="width: 100%;">Product Name: </label>
                  <select formControlName="ProductName" id="ProductName" class="form-control" (change)="GetProductNameText($event)">
                    <option value="" selected>Select Product</option>
                    <option [ngValue]="pc.productId" *ngFor="let pc of _service.product_name_list">
                      {{pc.productName}}
                    </option>
                  </select>
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('ProductCategory').touched && formProductDescriptionModel.get('ProductCategory').errors?.required">This field is mandatory.</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label>Author Name: </label>
                  <input type="text" formControlName="AuthorName" class="form-control input-sm" placeholder="Author Name">
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('AuthorName').touched && formProductDescriptionModel.get('AuthorName').errors?.required">This field is mandatory.</label>
                </div>
              </div>
            </div>

            <div class="form-group required">
              <label>Author Description: </label>
              <textarea formControlName="AuthorDescription" class="form-control input-sm" placeholder="Author Description"></textarea>
              <!--<input type="text" formControlName="AuthorDescription" class="form-control input-sm" placeholder="Author Description">-->
              <label class="text-danger" *ngIf="formProductDescriptionModel.get('AuthorDescription').touched && formProductDescriptionModel.get('AuthorDescription').errors?.required">This field is mandatory.</label>
            </div>

            <div class="form-group required">
              <label style="margin-right: 20px;">Author Image: </label>
              <label for="author_image">
                <input type="file" #AuthorImage id="AuthorImage" (change)="readImageFile($event)">
              </label>
              <img [src]="AuthorImageSrc" *ngIf="AuthorImageSrc" style="width: 210px; height: 126px;">

              <input type="hidden" formControlName="AuthorImageValue" class="form-control">
              <label class="text-danger" *ngIf="formProductDescriptionModel.get('AuthorImageValue').touched && formProductDescriptionModel.get('AuthorImageValue').errors?.required">This field is mandatory.</label>
            </div>

            <div class="form-group required">
              <label>Product Summary: </label>
              <textarea formControlName="ProductSummary" class="form-control input-sm" placeholder="Product Summary"></textarea>
              <!--<input type="text" formControlName="ProductDescription" class="form-control input-sm" placeholder="Product Description">-->
              <label class="text-danger" *ngIf="formProductDescriptionModel.get('ProductSummary').touched && formProductDescriptionModel.get('ProductSummary').errors?.required">This field is mandatory.</label>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label>Publisher Name: </label>
                  <input type="text" formControlName="PublisherName" class="form-control input-sm" placeholder="Publisher Name">
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('PublisherName').touched && formProductDescriptionModel.get('PublisherName').errors?.required">This field is mandatory.</label>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label>Edition: </label>
                  <input type="text" formControlName="Edition" class="form-control input-sm" placeholder="Edition">
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('Edition').touched && formProductDescriptionModel.get('Edition').errors?.required">This field is mandatory.</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label>Country: </label>
                  <select formControlName="Country" id="Country" class="form-control">
                    <option value="" selected>Select Country</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="India">India</option>
                    <option value="Nepal">Nepal</option>
                    <option value="China">China</option>
                    <option value="South Korea">South Korea</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                  </select>
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('Country').touched && formProductDescriptionModel.get('Country').errors?.required">This field is mandatory.</label>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label>Number of Pages: </label>
                  <input type="text" formControlName="NumofPages" class="form-control input-sm" placeholder="Number of pages">
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('NumofPages').touched && formProductDescriptionModel.get('NumofPages').errors?.required">This field is mandatory.</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group required">
                  <label>Language: </label>
                  <input type="text" formControlName="Language" class="form-control input-sm" placeholder="Language">
                  <label class="text-danger" *ngIf="formProductDescriptionModel.get('Language').touched && formProductDescriptionModel.get('Language').errors?.required">This field is mandatory.</label>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-block"><i class="fa fa-check-square-o"></i> {{EventValue}}</button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row row-table">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="styled-table row-border hover col-xs-12" style="width:1800px; table-layout:fixed;" *ngIf="productDescriptionList?.length>0">
        <thead>
          <tr>
            <th style="display: none;"></th>
            <th style="display: none;"></th>
            <th>Product Name</th>
            <th style="display: none;"></th>
            <th>Product Category</th>
            <th>Author Name</th>
            <th style="width: 250px;">Author Description</th>
            <th>Author Image</th>
            <th style="width: 250px;">Product Summary</th>
            <th>Publisher Name</th>
            <th>Edition</th>
            <th>Number of Pages</th>
            <th>Country</th>
            <th>Language</th>
            <th style="text-align:center; width: 230px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pd of productDescriptionList">
            <td style="display: none;">{{pd.productDescId}}</td>
            <td style="display: none;">{{pd.productId}}</td>
            <td>{{pd.productName}}</td>
            <td style="display: none;">{{pd.productCategoryId}}</td>
            <td>{{pd.productCategory}}</td>
            <td>{{pd.authorName}}</td>
            <td>{{pd.authorDescription}}</td>
            <td><img src="{{pd.authorImageValue}}" style="width: 80px; height: 80px;"></td>
            <td>{{pd.productSummary}}</td>
            <td>{{pd.publisherName}}</td>
            <td>{{pd.edition}}</td>
            <td>{{pd.numofPages}}</td>
            <td>{{pd.country}}</td>
            <td>{{pd.language}}</td>
            <td style="text-align:center">
              <a (click)="EditData(pd)" class="btn btn-info"><i class="fa fa-pencil"></i> Edit</a>
              <a (click)="deleteData(pd.productDescId)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
